<template>
  <div class="card">
    <div class="card-header text-center">
      <div class="w-100 d-flex justify-content-between">
        <span class="text-center" style="padding: 10px; flex: 1;">ID</span>
        <span class="text-center" style="padding: 10px; flex: 1;">Codigo</span>
        <span class="text-center" style="padding: 10px; flex: 1;">Slug</span>
        <span class="text-center" style="padding: 10px; flex: 1;">Usos</span>
        <span class="text-center" style="padding: 10px; flex: 1;">Estado</span>
        <span class="text-center" style="padding: 10px; flex: 1;">QR</span>
        <span class="text-center" style="padding: 10px; flex: 1;">Cambiar</span>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" v-for="(dato,index) in codigos"  :key="index">
        <Codigo :id="dato.id" :contenido="dato.code"
          :slug="dato.slug" :usos="dato.uses" :active="dato.active"
          :qrcode="dato.qrcode"
          >
        </Codigo>
      </li>
    </ul>
  </div>
</template>

<script>
    export default {
        mounted() {
            /*
              No usemos ajax y... esta vaina es un peligro
            */
            /*axios
            .get(baseurl+'/code')
            .then(response => (this.codigos = response.data))
            .catch(error => {
              console.log(error.response.status, 'error');
            });*/
        },
        data(){
          return{
            /*  codigos:[],*/
          }
        },
        props: ['codigos']
    }
</script>
