<template>
  <div class="w-100 d-flex justify-content-between">
    <span class="text-center" style="padding: 10px; flex: 1;">{{id}}</span>
    <span class="text-center" style="padding: 10px; flex: 1;">{{contenido}}</span>
    <span class="text-center" style="padding: 10px; flex: 1;">{{slug}}</span>
    <span class="text-center" style="padding: 10px; flex: 1;">{{usos}}</span>
    <span class="text-center" style="padding: 10px; flex: 1;" v-if="active == 1"><i class="fas fa-check text-success"></i></span>
    <span class="text-center" style="padding: 10px; flex: 1;" v-if="active == 0"><i class="fas fa-times text-danger"></i></span>
    <span class="text-center" style="padding: 10px; flex: 1;">
      <img width="100px" height="100px" :src="'data:image/png;base64,'+qrcode">
    </span>
    <div class="d-flex" style="flex: 1;">
      <form action="/code/state" method="post">
        <input type="hidden" name="id" :value="id">
        <input type="hidden" name="_token" :value="csrfToken">
        <input type="hidden" name="state" :value="0" v-if="active == 1">
        <input type="hidden" name="state" :value="1" v-if="active == 0">
        <button type="submit" class="btn btn-primary" style="padding: 5px 10px;"><i class="fas fa-power-off"></i></button>
      </form>
      <form action="/code/remove" method="post">
        <input type="hidden" name="id" :value="id">
        <input type="hidden" name="_token" :value="csrfToken">
        <button type="submit" class="btn btn-danger" style="padding: 5px 10px;"><i class="far fa-trash-alt"></i></button>
      </form>
    </div>
  </div>
</template>

<script>
    export default {
        props:['contenido','id','slug','active','usos','qrcode'],
        mounted() {
          this.csrfToken = csrfToken;
        },
        data(){
          return{
            csrfToken: null
          }
        }
    }
</script>
