<template>
  <div class="w-100 d-flex justify-content-between">
    <span class="text-center" style="padding: 10px; flex: 1;">{{title}}</span>
    <span class="text-center" style="padding: 10px; flex: 1;">{{type}}</span>
    <span class="text-center" style="padding: 10px; flex: 1;" v-if="active == 1"><i class="fas fa-check text-success"></i></span>
    <span class="text-center" style="padding: 10px; flex: 1;" v-if="active == 0"><i class="fas fa-times text-danger"></i></span>
    <div class="d-flex" style="flex: 1;">
      <button type="button" class="btn btn-warning" style="padding: 5px;"><i class="far fa-eye"></i></button>
      <form action="/mision/state" method="post">
        <input type="hidden" name="id" :value="id">
        <input type="hidden" name="_token" :value="csrfToken">
        <input type="hidden" name="state" :value="0" v-if="active == 1">
        <input type="hidden" name="state" :value="1" v-if="active == 0">
        <button type="submit" class="btn btn-primary" style="padding: 5px;"><i class="fas fa-power-off"></i></button>
      </form>
      <form action="/mision/remove" method="post">
        <input type="hidden" name="id" :value="id">
        <input type="hidden" name="_token" :value="csrfToken">
        <button type="submit" class="btn btn-danger" style="padding: 5px;"><i class="far fa-trash-alt"></i></button>
      </form>
    </div>
  </div>
</template>

<script>
    export default {
        props:['id','title','description','location','active','type'],
        mounted() {
          this.csrfToken = csrfToken;
        },
        data(){
          return{
            csrfToken: null
          }
        }
    }
</script>
