<template>
  <div class="card">
    <div class="card-header text-center">
      <div class="w-100 d-flex justify-content-between">
        <span class="text-center" style="padding: 10px; flex: 1;">Titulo</span>
        <span class="text-center" style="padding: 10px; flex: 1;">Tipo</span>
        <span class="text-center" style="padding: 10px; flex: 1;">Estado</span>
        <span class="text-center" style="padding: 10px; flex: 1;">Opciones</span>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" v-for="(mision,index) in misiones"  :key="index">
        <mision :id="mision.id" :title="mision.title" :description="mision.description"
        :location="mision.location" :active="mision.active"  :type="mision.type"
        :inicio="mision.date_start" :fin="mision.date_end" :reward="mision.reward">
        </mision>
      </li>
    </ul>
  </div>
</template>

<script>
    export default {
        mounted() {
        },
        data(){
          return{
          }
        },
        props: ['misiones']
    }
</script>
