<template>
  
</template>

<script>
    export default {
        props:['contenido','id','slug','active','usos','qrcode'],
        mounted() {
          this.csrfToken = csrfToken;
        },
        data(){
          return{
            csrfToken: null
          }
        }
    }
</script>
