<template>
  <div class="card text-dark w-100">
    <div class="card-header text-center">
      <h5>Nuevo Codigo</h5>
    </div>
    <form action="/code" method="post">
        <div class="card-body">
          <div class="md-form input-group mb-3 d-flex justify-content-around">
            <input type="text" class="form-control text-center" style="max-width: 200px;" placeholder="Codigo" name="code" aria-label="Codigo">
            <input type="text" class="form-control text-center" style="max-width: 200px;" placeholder="Recompensa" name="reward" aria-label="Recompensa">
            <input type="hidden" name="_token" :value="csrfToken">
          </div>
          <div class="md-form input-group mb-3 d-flex justify-content-around">
            <input type="text" class="form-control text-center" style="max-width: 200px;" name="slug" placeholder="Slug" aria-label="Slug">
            <input type="text" class="form-control text-center" style="max-width: 200px;" name="uses" placeholder="Usos" aria-label="Usos">
          </div>

        </div>
        <div class="card-footer d-flex justify-content-center">
          <button type="submit" class="btn btn-primary">Crear</button>
        </div>
    </form>
  </div>
</template>

<script>
    export default {
        mounted() {
          this.csrfToken = csrfToken;
        },
        data(){
          return{
            csrfToken: null
          }
        }
    }
</script>
