<template>
  <div class="card text-dark w-100">
    <div class="card-header text-center">
      <h5>Nueva Mision</h5>
    </div>
    <form action="/mision" method="post">
        <div class="card-body">
          <div class="md-form input-group mb-3 d-flex justify-content-around">
            <input type="text" class="form-control text-center" style="max-width: 200px;" placeholder="Titulo" name="title" aria-label="Titulo" required >
            <input type="text" class="form-control text-center" style="max-width: 200px;" placeholder="Descripcion" name="description" aria-label="Descripcion" required >
            <input type="hidden" name="_token" :value="csrfToken">
          </div>
          <div class="md-form input-group mb-3 d-flex justify-content-around">
            <select class="custom-select" name="type" style="max-width: 200px;">
              <option value="primary">Primaria</option>
              <option value="secondary">Secundaria</option>
            </select>
            <input type="text" class="form-control text-center" style="max-width: 200px;" name="reward" placeholder="Recompensa" aria-label="Recompensa" required >
          </div>
          <div class="row">
            <div class="input-group d-flex justify-content-around my-3">
              <label style="margin:0px;">Inicio</label>
              <div class="md-form input-group d-flex justify-content-around" style="margin:0px;">
                <input type="date" class="form-control" style="max-width: 200px;" name="date_start" placeholder="Fecha Inicio" aria-label="Fecha Inicio" required >
                <input type="time" class="form-control" style="max-width: 200px;" name="time_start" placeholder="Hora Inicio" aria-label="Hora Inicio" required >
              </div>
            </div>
            <div class="input-group d-flex justify-content-around my-3">
              <label style="margin:0px;">Fin</label>
              <div class="md-form input-group d-flex justify-content-around" style="margin:0px;">
                <input type="date" class="form-control" style="max-width: 200px;" name="date_end" placeholder="Fecha Inicio" aria-label="Fecha Inicio" required >
                <input type="time" class="form-control" style="max-width: 200px;" name="time_end" placeholder="Hora Inicio" aria-label="Hora Inicio" required >
              </div>
            </div>
          </div>
          <div class="md-form input-group mb-3">
            <input type="text" class="form-control text-center" placeholder="Lugar" name="location" aria-label="Locacion">
          </div>
          <div class="alert alert-danger alert-dismissible" v-for="(error,index) in errores"  :key="index">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong v-for="(errorX,index) in error"  :key="indexX">{{errorX}}</strong>
          </div>
        </div>
        <div class="card-footer d-flex justify-content-center">
          <button type="submit" class="btn btn-primary">Crear</button>
        </div>
    </form>
  </div>
</template>

<script>
    export default {
        props: ['errores'],
        mounted() {
          this.csrfToken = csrfToken;
          console.log(this.errores);
        },
        data(){
          return{
            csrfToken: null
          }
        },
        methods:{
        }
    }
</script>
